.td {
    border: 1px solid black;
}

.div {
    padding: 5px;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 5px;
}

.a {
    padding: 8px;
    color: white;
    text-decoration: none;
}